<div class="title-block">
  <h3 class="title">
    Page planing <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section text-center" *ngIf="!isLoaded">
  Loading...
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Outcome</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Bill: <span class="text-success">{{bill.value}}</span>
          </h5>
        </div>
        <div class="card-block">
          <div class="row" *ngFor="let c of categories">
            <div class="col-xs-6">
              <div class="n-progress">
                <div class="progress-bar success" style="width: 30%;">
                  <span>Name category</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <p>
                <span class="text-success">300.00</span>
                from
                <span class="text-primary">1000.00</span>
                |
                left <span class="text-success">700.00</span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
